#!/usr/bin/make -f

DISTRIBUTION = $(shell lsb_release -sc)
VERSION = 3.6.2
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)1
TARBALL = apache-zookeeper-$(VERSION)-bin.tar.gz
URL = https://apache.org/dist/zookeeper/zookeeper-$(VERSION)/$(TARBALL)

%:
	dh $@ --with systemd

override_dh_auto_build:
	wget -N --progress=dot:mega $(URL)
	tar --strip-components=1 -xf $(TARBALL)

override_dh_link:
	dh_link usr/share/java/zookeeper-$(VERSION).jar usr/share/java/zookeeper.jar
	dh_link etc/zookeeper/conf/environment usr/share/zookeeper/bin/zkEnv.sh
	dh_link etc/zookeeper/conf/myid var/lib/zookeeper/myid

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)

override_dh_strip_nondeterminism:

override_dh_builddeb:
	dh_builddeb -- -Zxz
